---
http_interactions:
- request:
    method: post
    uri: "<LANGFUSE_HOST>/api/public/metrics"
    body:
      encoding: UTF-8
      string: '{"view":"traces","metrics":[{"measure":"count","aggregation":"count"}],"fromTimestamp":"2024-01-01T00:00:00Z","toTimestamp":"2024-12-31T23:59:59Z","limit":10}'
    headers:
      Authorization:
      - Basic <LANGFUSE_PUBLIC_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Document-Policy:
      - js-profiling
      Etag:
      - '"14iq155slai1s"'
    body:
      encoding: UTF-8
      string: '{"message":"Method not allowed","error":"MethodNotAllowedError"}'
  recorded_at: Thu, 23 Oct 2025 09:04:43 GMT
recorded_with: VCR 6.3.1
